body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.spaced {
  display: flex;
  gap: 30px;
  align-items: center;
}

.ui.mini.statistics {
  margin: 0;
}

.stickytable thead th {
  position: sticky;
  top: 0;
  z-index: 10;
}
